.myButton {

  /* block-model */
  padding: 5px 15px;
  margin: 5px;

  /* typography */
  font-size: 14px;

  /* decorations */
  border: 1px solid #000000;
  background-color: transparent;

  /* other */
  cursor: pointer;

}