.post__head {
  margin-top: 10px;
}

.post__body {
  margin-top: 100px;
}

.post__div {

  /* posititon */
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  /* block-model */
  width: 70%;

  /* typography */
  text-align: center;

}