* {
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
}

.post {
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* centers the element */

  display: block;
  width: 70%;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid black;
  overflow: hidden;
}

.post_del {
    text-align: right;
}

.title {
  text-align: center;
}

.post-enter {
  width: 1px;
  max-height: 1px;
  padding: 0px;
}

.post-enter-active {
  width: 70%;
  max-height: 1000px;
  padding: 15px;
  transition: width 500ms ease-in,
              padding 1000ms ease-in,
              max-height 500ms ease-in 500ms;
}

.post-exit {
  height: var(--element-height);
}

.post-exit-active {
  width: 0px;
  padding: 0px;
  height: 0px;
  transition: width 500ms ease-in, 
              height 500ms ease-in 500ms;
}